.custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}
  
.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.board_main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
  
.board_nav {
  padding: 30px;
  box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 40px;
}

.board_voice_call {
  display: flex;
  align-items: center;
  gap: 20px;
}
  
.board_columns_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 20px;
}
  
.board_columns {
  height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 30px;
}

.board_columns_footer {
  flex-basis: 290px;
  min-width: 290px;
}
  
.board_columns_add-columns {
  width: 100%;
}

.board_columns_add-columns_edit {
  border-radius: 10px;
  padding: 10px;
}