.column {
    min-width: 290px;
    flex-basis: 290px;
    height: fit-content;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid rgb(145, 145, 145) 2px;
    border-radius: 9px;
    padding: 5px;
  }
  
.column_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 5px;
  border-radius: 9px;
}
  
.column_header_title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  gap: 5px;
  align-items: center;
}
  
.column_header_title span {
  color: rgb(145, 145, 145);
}
  
.column_tasks {
  overflow-y: auto;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  gap: 10px;
}

.column_tasks_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.column_tasks_empty p {
  text-align: center;
  font-size: large;
  color: rgb(145, 145, 145);
  font-weight: bold;

}

.column_tasks_empty .editable p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: normal;
}

.column_add-task {
  width: 100%;
}

.column_add-task_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}